@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>@Html.DisplayFor(model => model.Name)</h1>
<h4>Assign an engineer to this machine:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("View all machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>