@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<h2>Machine Details:</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Engineers.Count == 0)
{
  <p>This machine doesn't have any engineers to fix it yet!</p>
  <p>@Html.ActionLink("Add engineer", "AddEngineer", new { id = Model.MachineId})</p>
}
else
{
  <ul>
  <h2>This machine is fixed by the following engineers:</h2>
  @foreach(var join in Model.Engineers)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.EngineerId})</li>
    @using (Html.BeginForm("RemoveEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Remove Engineer"/>
    }
  }

  </ul>
}
  <p>@Html.ActionLink("Edit the machine description", "Edit", new { id = Model.MachineId})</p>
  <p>@Html.ActionLink("Add another engineer", "AddEngineer", new { id = Model.MachineId})</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
