@{
  Layout = "_Layout";
}


@using Factory.Models;
@model Factory.Models.Engineer;

<h2>Engineer Details:</h2>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>This engineer isn't responsible for any machines yet!.</p>
}
else
{
  <h2>@Html.DisplayFor(model => model.Name) is responsible for these machines:</h2>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@Html.ActionLink($"{join.Machine.Name}", "Show", "Machines", new { id = join.MachineId})</li>
    @using (Html.BeginForm("Remove Machine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Remove engineer from this machine"/>
    }
  }
  </ul>
  <p>@Html.ActionLink("Edit @Html.DisplayFor(model => model.Name)'s profile", "Edit")</p>
}
